.signinSignup {
    display: flex;
    flex-direction: column;
}

.signInContainer {
    display: flex;
}

.signInContainer input {
    border-radius: 999px;
    padding: 0.7rem 1rem;
    border: none;
    margin: 0.6rem 6rem;
    font-size: 1.5rem;
}

.signInContainer label {
    margin: 0 6rem;
    font-size: 1rem;
}

.signInContainer p {
    align-self: center;
    margin-bottom: 4rem;
}

.heading {
    padding: 2rem;
    background: linear-gradient(to right, var(--cta-secondary), var(--cta-secondary), var(--cta-primary));
    font-family: 'Work Sans', sans-serif;
    text-decoration: underline;
    font-size: 3rem;
    margin: 0 0 4rem;
}

.forgotPassword {
    margin: 0 4rem;
    margin-left: auto;
}

.signInButton {
    width: 40%;
    align-self: center;
    color: var(--active-font);
    padding: 1rem;
    background: var(--cta-primary);
    box-shadow: 0px 0px 5px var(--cta-primary);
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
}

.passwordVisibility {
    position: absolute;
    right: 8rem;
    top: 2.7rem;
    cursor: pointer;
    user-select: none;
    color: var(--dark-primary);
}

.passVis {
    position: relative;
}

@media screen and (max-width: 880px) {
    .heading {
        background: transparent;
        text-align: center;
    }

    .signInContainer input {
        padding: 0.5rem 2rem;
        font-size: 1rem;
        margin: 0.6rem clamp(0rem, 6vw, 6rem);
    }

    .signInContainer label, .forgotPassword {
        margin: 0.6rem clamp(0rem, 6vw, 6rem);
    }

    .passwordVisibility {
        top: 3.3rem;
        right: 4rem;
    }
}