@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,500;1,800&display=swap');

.coverimg {
    width: 100%;
    position: relative;
}

.heading {
    position: absolute;
    top: 0;
    left: 0;
    width: min-content;
    padding: 0.5rem 2rem 2rem;
    background: linear-gradient(to left, var(--cta-primary), var(--cta-secondary), var(--cta-secondary));
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px black;
}

.heading h1 {
    font-family: 'Work Sans', sans-serif;   
    text-decoration: underline;
    font-size: clamp(2rem, 3vw, 3rem);
}

.heading p {
    width: clamp(20rem, 30vw, 27rem);
}

.heading button {
    margin: 2rem 0 0;
    background: var(--cta-primary);
    color: var(inactive-font);
    font-family: 'Work Sans', sans-serif;  
    font-weight: 500; 
    font-size: clamp(0.5rem, 1.5vw ,1rem);
}

.heading button:hover {
    color: var(--active-font);
}

@media screen and (max-width: 930px) {
    .heading {
        display: none;
    }
    .coverimg {
        display: none;
    }
}