.nav-header {
    background-color: var(--dark-menu);
    width: 100vw;
    padding-left: 0;
    color: var(--active-font);
    z-index: 4;
}

.menu-list-items:hover {
    background-color: transparent;
}

.menu-list-items:hover .Link-color {
    color: var(--active-font);
}

.brand-name{
    padding: 0.8rem 4rem;
    background-color: var(--cta-primary);
    font-weight: 700;
    color: var(--active-font);
}

.Link-color {
    color: var(--inactive-font);
    cursor: pointer;
}

@media screen and (max-width: 630px) {
    .brand-name {
        background-color: transparent;
        font-size: clamp(1rem, 4vw, 1.5rem);
        padding-left: clamp(2rem, 6vw, 4rem);
    }
    .menu-list-items {
        padding: clamp(0.4rem, 3vw, 1rem);
    }
}