:root {
  --active-font: #f3f3f3;
  --inactive-font: #7E7F7F;
  --primary-font: #e7e7e7;
  --cta-primary: #FE2A6E;
  --cta-secondary: #509ECF;
  --dark-primary: #0C0D11;
  --dark-secondary: #000101;
  --dark-menu: #202027;
}

body {
  background-color: var(--dark-primary);
  color: var(--primary-font);
}

.gridContent {
  display: grid;
    grid-template-columns: max-content 4fr;
    min-height: 100vh;
    grid-template-areas: 
    "side body"
    ;
}

.sideNav {
  grid-area: side;
  padding: 1rem 3rem;
}

.videoListing {
  grid-area: body;
  padding: 1rem 3rem;
}

.videoContainer {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.listItems {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  color: var(--inactive-font);
  text-decoration: none;
}

.active {
  color: var(--active-font);
  background: transparent;
}